[user]
	name = Kari Hagemeier
	email = kari@hagemeier.cloud
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDMoBgpxAdYrDfvYMCCk3Pn8JaK/X0GEPfQ6Ovs+DrvXPlbjDdW41UrMN7hjPNee3h0z0LCe2xsfY7VebJOMV9BhbJrhHDN8h5IRC1aP+IQzFcielDWwS+U5QzcDjAafBfyhGakDCt8M79uoFHjm1rM7C4pS380KapnqvuGViQRBNJGDApfgGQ7yO3DXgz3hay5uUhgVJ/3Eg9/qhOhXv4scF+vPgGabb2W3p/6ee+6rA1ZvTq8woni3U3CLDQu8SFsiGnDPYoE2L+0gTU1Kfr37d0n7WJfHdsTBH+HTM3NOukgv9iXOEYX6ej+Svj1UeapiyAGkXx8/vxbBjmQmNnjU0jadK1f2Un519meg6oIrQ5hJZOVq8b8cnq2/B4fFgtDfTEPhlVMft01qr7pBSmU17G1BiXKUlxU39jIKyR5fdTTUJ1/pSzsb7mh3mJT1ZZ6p1PR0c+Qer2dywC4e6Zg/bQGntAA+doQJMtoH5dLqhoU2H1dYBVqSim3oAYn8OQdSVlpPoBz4DuOLy477wcRpKkcLIWUsT033cptX1ZvM3G7aoX5LwW3smT4jL0Gw+pdx5JIYGnIRWNYREormPMFez1cm8wMUV9W0ljUHOp17YbHAxEDYUfOXPHqya8P8j2IgRz4K3HfFto+T7ZsZ9TPwBJMki791HMUxl1Hvm2how==

[include]
	path = ~/.gitconfig.local

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
[init]
	defaultBranch = main
